body
{
  margin: 0;
  padding-left: 140px;
  padding-right: 140px;
  font-size: 16px;
  line-height: 24px;
  color: black ;
  font-weight:400;
  font-family:"Roboto",Arial,serif;
  background-color: white;
 }


  a
 {
   text-decoration: none;
 }
 /* Убираем линии у ссылок */


 p
 {
  color:#797c7f;
 }
 /* Меняем цвет у параграфоф */

 .button
 {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.main-navigation
{
  font-size: 14px;
  line-height: 20px;
  background-color:#eeeeee;
  color:black;
  padding-left: -140px;
  padding-right: -140px;
}

.site-navigation,
.basket
{
  list-style: none;
}
/* Убираем буллиты */


.main-navigation a
{
  text-transform: uppercase;
  color: #000000;
}
/* Задаём ссылкам заглавные буквы */

.main-navigation a:hover,
.main-navigation a:focus
{
color: #fb565a;
}
/* Меняем цвет при наведении и фокусе */

.slider b
{
  font-size: 55px;
  line-height: 55px;
}
/* Меняем размеры b */


.button:hover,
.button:focus
{
  background-color:#e74246;
}
/* Цвет фокуса  и наведения*/

.slide-2
{
    display: none;
}

.slide-3
{
  display: none;
}
/* Убираем лишние слайды */


.order
{
  color:black;
  list-style: none;
}
/* Убираем буллиты */

.product
{
  text-align: left;
}
/* Выравниваем по левому краю */

.order h3
{
  line-height: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
/* Задаём размеры заголовков */


.app
{
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
}
/* Стилизуем ссылку */

.app:hover,
.app:focus
{
  background-color:#00bc6c;
}
/* Добавляем стиль при фокусе, наведении */

.show
{
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color:  #efc84a;
}
/* Стилизуем ссылку */

.show:hover,
.show:focus
{
  background-color:#eab534;
}
/* Добавляем стиль при фокусе, наведении */


.index-columns
{
background-color:#ffffff;
}



.description h2
{
  font-size: 45px;
  line-height: 45px;
}
.description b
{
  text-transform: uppercase;
}
.description li
{
  color:#797c7f;

}
/* Описание класса description */



.statistics li
{
  list-style: none;
  font-size: 45px;
  line-height: 10.06px;
}
.statistics .start
{
  color:black;
  text-transform: uppercase;
}
/* Описание класса statistics */

.address{
background-color:white;
width: 320px;	height: 310px;
}


.write {
  color:white;
  text-transform: uppercase;
  background-color: #fb565a;
  border: 1px solid #fb565a;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.write:hover{
  background-color: #e74246;
  border: 1px solid #e74246;
}



footer
{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 25px;
  color: black ;
  font-weight:400;
  font-family:"Roboto",Arial,serif;
  background-color: white;
  text-align: center;
}
.footer ul
{
  list-style: none;
}
.footer b
{

}
.visually-hidden
{
  display:none;
}
