body{
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  font-family: "Roboto",Arial,serif;
  background-color: white;
 }
/* .inner-page{
  color: #000000;
} */

  a{
   text-decoration: none;
 }
 /* Убираем линии у ссылок */

 .button{
  font: inherit;
  text-align: center;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.main-navigation{
  font-size: 14px;
  line-height: 20px;
  background-color: #eeeeee;
  color: #000000;
 }


.site-navigation,
.basket{
  list-style: none;
}
/* Убираем буллиты */


.main-navigation a{
  text-transform: uppercase;
  color: #000000;
}
/* Задаём ссылкам заглавные буквы */

.main-navigation a:hover,
.main-navigation a:focus{
color: #fb565a;
}
/* Меняем цвет при наведении и фокусе */


.main-navigation a:active{
  color:#afafaf;
}

.slide-active{
  background-color:#eeeeee;
}
/*
.slide{
  display: none;
} */
.slider b{
  color: #000000;
  font-size: 55px;
  line-height: 55px;
}
/* Меняем размеры b */
.slider p{
  color: #283136;
}

.button:hover,
.button:focus{
  background-color:#e74246;
}
/* Цвет фокуса  и наведения*/
.button:active{
  color:#e37376;
  background-color: #d7373b;
}
.order{
  color:black;
  list-style: none;
}
/* Убираем буллиты */

.product{
  text-align: left;
}
/* Выравниваем по левому краю */

.order h3{
  line-height: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
/* Задаём размеры заголовков */


.app{
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
}
/* Стилизуем ссылку */

.app:hover,
.app:focus{
  background-color:#00bc6c;
}
/* Добавляем стиль при фокусе, наведении */
.app:active{
  color:#4dc491;
  background-color: #00aa62;
}

.presentation{
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color:  #efc84a;
}
/* Стилизуем ссылку */

.presentation:hover,
.presentation:focus{
  background-color: #eab534;
}
/* Добавляем стиль при фокусе, наведении */
.presentation:active{
  color: #edc265;
  background-color: #e5a722;
}

.index-columns{
  background-color:#ffffff;
}



.description h2{
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}
.description p{
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}
.description b{
  text-transform: uppercase;
  color: #000000;
}
.description li{
  color: #283136;

}
/* Описание класса description */



.statistics li{
  list-style: none;
  font-size: 45px;
  line-height: 50px;
  color: #000000;
}
.statistics p{
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}
.statistics .start{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
/* Описание класса statistics */

.logotypes ul{
  list-style: none;
}


.address{
  background-color:white;
  width: 319px;	height: 308px;
  text-align: left;
}
.address b{
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.write-1{
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border:none;
}
.write-1:hover,
.write-1:focus{
  background-color: #e74246;
}
.write-1:active{
  color:#e37376;
  background-color: #d7373b;
}

.page-title{
  height: 200px;
  width: auto;
  background-color:#eeeeee;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}
.filter fieldset{
  border: none;
}
.filter legend{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}
.filter-option{
  color: #797c7f;
}
.filter ul{
  list-style: none;
  line-height: 20px;
}

.filter b{
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort a{
  font-size: 14px;
  text-transform: uppercase;
  color:#b2b2b2;
}
.sort a:hover,
.sort a:focus{
  color:#666666;
}
.sort a:active{
  color: #000000;
}

.filter-input:hover + label,
.filter-input:focus + label{
  color: #4d4d4d;
}

.filter-input:disabled + label{
  color: #bec1c2;

  opacity: 0.5;
}
.show{
  text-align: center;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;
  background-color:#eeeeee;
  border:none;
}
.show:hover,
.show:focus{
  color: #000000;
  background-color: #dfdfdf;
}
.show:active{
  outline: none;
  color: #959595;
  background-color: #d5d5d5;
  border-top: 2px solid #bfbfbf;
}

.catalog-list{
  list-style: none;
}
.catalog-item img{
  border-top: 40px solid #e9e9e9;
}
.catalog-item img:hover{
  border-color:#4d4d4d;
}
.catalog-item a{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}
.catalog-item-price p{
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}
.catalog-item-price .button{
  line-height: 18px;
  color: #ffffff;
}

footer{
  padding-top: 470px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto",Arial,serif;
  background-color: #ffffff;
}
.footer ul{
  list-style: none;
}

.footer b{
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.footer p{
  font-size: 16px;
  line-height: 22px;
  color:#444444;
  text-align: start;
  padding-left: 350px;
}
.visually-hidden h2{
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}
.visually-hidden p{
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.write-form input[type="text"],
.write-form input[type="email"],
.write-form input[type="text"]{
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #f9f6f3;
  border: 1px solid #d7dcde;
}
.write-form input:hover{
  border-color: #b4b9bb;
}
.write-form input:focus{
  outline: none;
  border-color: #000000;
}
